.container {
  margin: 0 auto;
  max-width: 940px;
}

.underline {
  border-bottom: 4px solid #FFFFFF;
}

.container-price-list {
  margin: 0 auto;
  padding: 0 155px;
}

.btn-nav {
  font-size: 16px;
  display: block;
  padding: 30px 0;
  color: white;
}

.button {
  background-color: #000000;
  display: block;
  color: #FFFFFF;
  padding: 15px 0;
  font-size: 14px;
  width: 140px;
  text-align: center;
}

nav {
  background-color: #000000;
}
nav .head-menu {
  display: flex;
  justify-content: space-between;
}
nav .head-menu .nav-menu li {
  display: inline-block;
  margin-right: 40px;
}
nav .head-menu div:nth-of-type(2) img {
  max-width: 15px;
  max-height: 15px;
  margin-right: 15px;
}

.logo {
  text-align: center;
}
.logo img {
  max-width: 370px;
  margin: 60px 0px 80px 0px;
}

.block-quality {
  display: flex;
  margin-bottom: 60px;
}
.block-quality .quality {
  font-size: 14px;
  color: #FFFFFF;
  line-height: 24px;
  text-align: center;
  padding-right: 30px;
}

#section-info .info {
  background-color: #f7f4f1;
  display: flex;
  margin-bottom: 35px;
}
#section-info .info .info-block {
  position: relative;
  padding: 55px 60px 0px 85px;
  flex: 1;
}
#section-info .info .info-block:nth-of-type(1)::before {
  position: absolute;
  content: "";
  top: 110px;
  left: 465px;
  background-color: lightgray;
  height: 230px;
  width: 2px;
  border-radius: 50%;
  box-shadow: -1px 0px 1px 0 lightgray;
}
#section-info .info .info-block p {
  font-size: 14px;
  color: #000000;
  line-height: 24px;
}
#section-info .info .info-block a {
  margin-top: 27px;
  margin-bottom: 50px;
  display: inline-block;
}
#section-info .info .info-block button {
  display: inline-block;
  border: none;
}
#section-info .info .info-block button:nth-of-type(1) {
  margin-right: 20px;
}
#section-info .info .info-block img {
  width: 303px;
  max-width: 303px;
  margin-bottom: 45px;
}

#section-contact .contacts {
  display: flex;
  background-color: #f7f4f1;
  margin-bottom: 65px;
}
#section-contact .contacts .block-contacts {
  position: relative;
  flex: 1;
  padding: 55px 60px 50px 85px;
}
#section-contact .contacts .block-contacts:nth-of-type(1)::before {
  position: absolute;
  content: "";
  top: 110px;
  left: 465px;
  background-color: lightgray;
  height: 230px;
  width: 2px;
  border-radius: 50%;
  box-shadow: -1px 0px 1px 0 lightgray;
}
#section-contact .contacts .block-contacts p {
  font-size: 14px;
  color: #000000;
  line-height: 24px;
}
#section-contact .contacts .block-contacts .contact-button a {
  display: inline-block;
  margin-right: 20px;
}
#section-contact .contacts .block-contacts form .flex-form {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#section-contact .contacts .block-contacts form .flex-form p {
  margin-left: 15px;
}
#section-contact .contacts .block-contacts form input[type=text] {
  border: 2px solid #000000;
  padding: 15px 0px 15px 15px;
  max-width: 130px;
}
#section-contact .contacts .block-contacts form input[type=submit] {
  width: 100%;
  border: none;
}

footer {
  background-image: url("../img/footer.png");
  padding: 65px 0px 35px 0px;
}
footer div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
footer div div p {
  font-size: 14px;
  color: #FFFFFF;
  line-height: 24px;
}
footer div div p a {
  text-decoration: underline;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 24px;
}
footer div .container-icon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
footer div .container-icon p {
  font-size: 14px;
  color: #FFFFFF;
  line-height: 24px;
}
footer div .container-icon .icon div {
  display: inline-block;
  margin-right: 10px;
}
footer div .container-icon .icon div a {
  flex-wrap: wrap;
  min-height: 43px;
  min-width: 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
footer div div:nth-of-type(2) {
  margin-right: 120px;
}
footer div div:nth-of-type(3) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: 180% 120%;
  background-position-x: center;
  font-family: "PT Sans - NarrowBold", "Arial", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
}