/*Смотри, сейчас все работает вроде. Попробуй изменить стили именно 
именно в этом файле и проверить изменения. По идеии они не сработают. 
После этого перемести импорты в низ и сохрани изменения, а вот тут
внесенные изменения должны заработать. + Не работают стили хедер и 
футера на второй странице*/
$colorLight: #FFFFFF;
$colorDark: #000000;
$colorSection:#f7f4f1;

@mixin text-inform($color:$colorDark){
	font-size: 14px;
	color:$color;
	line-height: 24px;
}
@import './components/_header.scss';
@import './pages/_price-list-page.scss';
@import './pages/_home-page.scss';
@import './components/_footer.scss';


.container{
	margin:0 auto;
	max-width: 940px;
}

.button{
	background-color:$colorDark;
	display:block;
	color: $colorLight;
	padding: 15px 0;
	font-size:14px;
	width: 140px;
	text-align:center;
}

.underline{
	border-bottom: 4px solid $colorLight;
}

.btn-nav{
	font-size: 16px;
	display:block;
	padding:30px 0;
	color:white;
}

.no-link{
	pointer-events: none;
	color: #aba9a7;
}

#bg-check{
	background-image: url('../img/background.png');
	background-repeat: no-repeat;
	background-size: 180% 120%;
	background-position-x:center;
}

//Основные стили
body{
		font-family:"PT Sans - NarrowBold", "Arial", sans-serif;
		color:red;
}



ul{
	padding:0;
	margin:0;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

h1{
	font-size: 30px;
}
