
.container-price-list{
	margin:0 auto;
	padding:0 155px;
	background-color: $colorSection;
}


#nav-price-list{
	color:$colorDark;
}


#title-price{
	text-align:center;
	h1{
		font-size: 48px;
		line-height: 48px;
		margin:0;
		color:black;
	}
}